<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>에러 페이지</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
</head>
<body>

<div th:class="container" style="display: inline-block; text-align: center;">
    <h2>또 버그야! 하핫!</h2>
    <img th:src="@{https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FWkoti%2Fbtqwrp3xqup%2F4fDRbyze3eOlyjEI75fikk%2Fimg.jpg}"/>

    <h3>죄송합니다. 문제가 생겼습니다.</h3>
</div>
</body>
</html>