<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>hkoo's homepage</title>
    <link rel="stylesheet" type="text/css" href="css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="css/sb-admin-2.min.css"/>
    <style>
        body{
            height: 100vh;
            background: url("images/main-background.jpg") no-repeat center/cover;
        }
    </style>
</head>
<body>
<div th:replace="layout/sidebar::sidebar"></div>
<div th:class="container" style="text-align: center">
    <h1>이제 시작하는 홈페이지</h1>
    <a class="btn btn-secondary btn-lg" href="/board/list">시작하기</a>
</div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/sb-admin-2.min.js"></script>
</body>
</html>