<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap-theme.min.css"/>


    <title>hkoo's homepage</title>
    <style>
        body{
            height: 100vh;
            background: url("images/main-background.jpg") no-repeat center/cover;
        }
    </style>
</head>
<body>
<div th:class="container" style="text-align: center">
    <div th:each="num : ${#numbers.sequence(1,10)}">
        <br/>
    </div>
    <h1>이제 시작하는 홈페이지</h1>
    <a class="btn btn-secondary btn-lg" href="/board/list">시작하기</a>
</div>


    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>