<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap-theme.min.css"/>


    <title>Title</title>
</head>
<body>
    <h1>음 홈페이지야 아무것도 없지만..</h1>
    <h2 th:text="${name}"></h2>

    <a class="btn btn-secondary btn-lg" href="/login">OAuth2 테스트 페이지</a>
    <h2></h2>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>

    </script>
</body>
</html>