<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
</head>
<body>

<div class="container" style="text-align: center; width: 400px;" id="login_form">
    <br/>
    <h2>로그인(아직 구현중 )</h2><br/><br/>
    <div class="box">
        <input type="text" class="form-control" placeholder="아이디를 입력해 주세요"/>
        <input type="password" class="form-control" placeholder="비밀번호를 입력해 주세요"/>
        <div class="btn-primary" id="login_submit">로그인</div>
        <div class="btn-primary" id="create_id">회원가입</div>
    </div>

    <br>
    <!-- 추후 추가 예정 네이버 OAuth2 로그인
    <a href="javascript:;" class="btn_social" data-social="naver"><img th:src="@{/images/naver.png}" width="40px"
                                                                          height="40px"/></a>
    -->
    <a href="javascript:;" class="btn_social" data-social="google"><img th:src="@{/images/google.png}" width="40px"
                                                                        height="40px"/></a>
    <a href="javascript:;" class="btn_social" data-social="kakao"><img th:src="@{/images/kakao.png}" width="40px"
                                                                       height="40px"/></a>
    <a href="javascript:;" class="btn_social" data-social="github"><img th:src="@{/images/github.png}" width="40px"
                                                                        height="40px"/></a>
</div>
<div class="container" style="text-align: center; width: 400px; display: none;" id="create_form">
    <form>
        <h2>회원 가입</h2>
        <input id="id_insert" type="text"/>@
        <input id="direct_email" type="text" readonly="readonly"style="inset-inline: auto"/>
        <select name="selectEmail" onchange="checkEmail()">
            <option value="">선택</option>
            <option value="naver.com">네이버</option>
            <option value="hanmail.net">한메일</option>
            <option value="gmail.com">구글</option>
            <option value="direct">직접입력</option>
        </select>
        <span style="inset-inline-end: auto" id="id_make_error_message"></span>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $('.btn_social').click(function () {
        var socialType = $(this).data('social');
        window.location.replace("/oauth2/authorization/" + socialType);
    });

    $('#create_id').click(function () {
        $('#login_form').hide();
        $('#create_form').show();
    })


    $("#id_insert").on("propertychange change keyup paste input", function () {
        var id_text = $(this).val();
        console.log(id_text);
        var userData = {"id": id_text};
        $.ajax({
            type: "POST",
            url: "/api/check/id",
            data: {"id": id_text},
            success: function (data) {
                if (!data) {
                    $('#id_make_error_message').text("이메일이 존재합니다.");
                }
            },
            error: function (request, status, error) {
                console.error("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    });


    function checkEmail() {
        var f = document.forms[0];

        if (f.selectEmail.value==""){
            console.log("선택");
        }
        if (f.selectEmail.value()=="direct"){
            console.log("테스트");
            $('#direct_email').readOnly=false;
        }
    }

</script>

</body>
</html>